@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.container
{
    padding: 0 100px;
}

.row
{
    display: flex;
}

.jct
{
    justify-content: space-between;
}

.ali
{
    align-items: center;
}

.flr
{
    flex-direction: row-reverse;
}
.col-100
{
    width: 100%;
}

.col-50
{
    width: 50%;
}

.col-40
{
    width: 38%;
}

.col-30
{
    width: 30%;
}

.col-25
{
    width: 28%;
}

.col-20
{
    width: 20%;
}
/* --------------------------------------------------------------------------------------------------------------------------- */


/* Section one Start Here */

#sec-one
{
    /* height: 700px; */
    background-image: url('./Images/sec-one-Bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 60px 0 0 0;
    /* border: 1px solid red; */
}

header
{
    width:100%;
    background-color: #21243d;
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.6);
    position: fixed;
    left: 0;
    top: 0;
    /* opacity: 0; */
}

.logo
{
    padding: 10px 0;
}

nav
{
    margin: auto 0;
}

.nav-bar li
{
    display: inline;
    list-style-type: none;
    margin: 0 30px ;
    padding: 20px 0;
    /* border: 1px solid red; */
}

.nav-bar li a
{
    padding: 20px 10px;
    /* border: 1px solid blue; */
}

.nav-bar li a
{
    text-decoration: none;
}

.searchLogo
{
    color:#ffffff;
}

.searchLogo
{
    font-size: 18px;
    margin: auto 0;
}

.sec-one-main
{
    padding: 100px 0;
}

.sec-one-title
{
    font-size: 80px;
    font-weight: 700;
    padding: 30px 0 0 0;
}


.sec-one-text
{
    font-size: 23px;
    padding: 50px 0 0px 0;
}

.btnBlock
{
    padding: 50px 0;
}

.orderNow
{
    background-color: #21243d;
    padding: 15px 50px;
    border-radius: 25px;
}

/* Section one Stops Here */



/* Section Two Start Here */


#sec-two
{
    background-color: #21243d;
    /* height: 700px; */
}



.sec-two-main
{
    padding: 80px 0;
}

.sec-two-title
{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    /* padding: 50px 0 0 0; */
}


.sec-two-text
{
    width: 60%;
    text-align: center;
    margin: 0 auto;
    padding: 30px 0 50px 0;
}


.titlesBlock
{
    padding: 0 100px;
}

.titlesImg
{
    width: 100%;
    border-radius: 50%;
}


.titlesTitle
{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
}

.titlesText
{
    text-align: center;
}


/* Section Two Stops Here */



/* Section Three Start Here */


#sec-three, #sec-five
{
    background-color: #ffd17e;
    /* height: 700px; */
    padding: 0 0 50px 0;
}



.sec-three-main
{
    justify-content: space-around;
    padding: 100px 0;
}


.sec-three-tile
{
    width: 100%;
    border-radius: 50%;
}


.sec-three-title
{
    font-size: 50px;
    color:#21243d;
    font-weight: bold;
    padding: 50px 0 0 0;
}


.sec-three-text
{
    color:#21243d;
    padding: 30px 0 40px 0;
}



/* Section Three Stops Here */



/* Section Four Start Here */


#sec-four
{
    /* height: 700px; */
    background-color: #21243d;
}

.sec-four-main
{
    padding: 100px 0;
}

.sec-four-tilesBlock
{
    padding: 50px 0;
}

.sec-four-tiles
{
    border: 5px solid #ffffff;
    border-radius: 50%;
    padding: 90px 0;
}

.sec-four-num, .sec-four-text
{
    font-size: 80px;
    font-weight: bold;
    text-align: center;
}

.sec-four-text
{
    font-size: 40px;
}


/* Section Four Stops Here */



/* Section Five Start Here */

.sec-six-title
{
    font-size: 50px;
    font-weight: bolder;
    color:#21243d;
    padding: 50px 0 0 0;
}

.sec-five-text 
{
    font-size: 16px;
    color:#21243d;
    padding: 30px 0 40px 0;
}



/* Section Five Stops Here */



/* Section Six Start Here */

#sec-six
{
    /* height: 700px; */
    background-image: linear-gradient(rgb(33, 36, 61, 0.8), rgb(33, 36, 61, 0.8)), url("./Images/sec-six-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


.sec-six-main
{
    padding: 100px 0;
}

.sec-six-img
{
    width: 25%;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.sex-six-text
{
    width: 90%;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    padding: 50px 0;
}


.sec-six-name
{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}


/* Section Six Stops Here */



/* Section Seven Start Here */

#sec-seven
{
    /* height: 700px; */
    background-color: #ffd17e;
    padding: 100px 0;
}

.sec-seven-main
{
    padding: 100px 0;
}

.sec-seven-title
{
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    color:#21243d;
}


.sex-seven-text
{
    width: 80%;
    margin: 0 auto;
    font-size: 25px;
    text-align: center;
    color:#21243d;
    padding: 80px 0;
}


#myEmail
{
    width: 45%;
    color:#21243d;
    font-size: 18px;
    padding: 13px 18px;
    border-radius: 30px;
    border: none;
}


.subscribeBtn
{
    background-color: #21243d;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding: 13px 20px;
    margin: 0 0 0 -50px;
}

.emailBox
{
    text-align: center;
}

/* Section Seven Stops Here */



/* Section Footer Start Here */


footer
{
    /* height: 700px; */
    background-color: #111111;
}

.footer-main
{
    padding: 100px 0;
}

.colBlock
{
    padding: 100px 0;
}

.footer-title
{
    font-size: 25px;
}

.footer-text
{
    padding: 30px 0 50px 0;
}

.socialIconBlock
{
    width: 60%;
}

.iconTile
{
    width: 40px;
    padding: 10px 0;
    border-radius: 50%;
    background-color: #ffffff;
    text-align: center;
}


.iconTile i
{
    color: black;
    font-size: 20px;
}


.footer-list
{
    list-style: none;
}

.footer-list li 
{
    padding: 10px 0;
}

.footer-list li:nth-child(1)
{
    padding: 30px 0 10px 0;
}

.footer-list li a
{
    text-decoration: none;
}

